* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--co-white);
}

.container {
    max-width: 800px;
    padding: 0 10px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: 0;
    color: unset;
}

h1, h2, h3, h4, h5, p, figure {
    margin: 0;
}

.logo {
    width: 80px;
    height: 23px;
    /* flex-shrink: 0; */
}

.btn {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
    width: 160px;
    height: 40px;
    background-color: var(--co-green);
    color: #fff;
    border-radius: 3px;
}

.btn:hover,
.btn:focus-visible {
    border: 2px, solid, var(--co-dark-green);
    cursor: pointer;
}

.btn--signin {
    background-color: transparent;
    color: var(--co-title-black);
}
