.header__wrapper {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    width: 460px;
    margin: 0 20px;

}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header__nav-item {
} */

.header__nav-link {
    font-size: 20px;
    font-weight: 500;
    color: var(--co-title-black);
    white-space: nowrap;
    column-gap: 50px;
    column-gap: min(50px, 4vw);
}


.header__nav-link:hover,
.header__nav-link:focus-visible {
    color: var(--co-green);
    /* border: 2px, solid, var(--co-dark-green); */
}

.header__actions {

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .header__nav-link {
        font-size: 16px;
    }

    .header__nav {
        /* font-size: 14px; */
        display: none;
    }

    .btn {
        font-size: 16px;
        width: 120px;
        height: auto;
        flex-wrap: nowrap;
    }

    .logo {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        padding: 0 0 0 60px;
    }

    .header__nav {
        /* font-size: 14px; */
        display: none;
    }

    .btn--start,
    .btn--signin {
        padding: 10px;
        font-size: 14px;
        width: 90px;
        height: auto;
    }
}