.hero {
    /* min-height: 100vh; */
    background: url("../assets/webp/block_1.webp") center no-repeat;
    background-size: cover;
    width: 100%;
}

.hero__container {
    /* min-height: 100vh; */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding: 100px 30px;

}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 320px;
}

.hero__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--co-green);
}

.hero__desc {
    font-size: 16px;
    font-weight: 400;
    color: var(--co-desc-grey);
    margin: 25px 0 50px;
}

/* .btn {
} */

@media (max-width: 576px) {
    .hero {
        background:
        linear-gradient(267deg, rgb(0 0 0 / 47%) 0%, rgb(218 226 227 / 90%) 100%),
        url(../assets/webp/block_1.webp) 60% no-repeat;
        background-size: cover;
    }

    .hero__content {
        max-width: 300px;
        margin: 0 ;
    }

    .hero__title {
        font-size: 40px;
    }

    .hero__desc {
        font-size: 16px;
        font-weight: 600;
    }

    .hero__content .btn {
        height: auto;
        padding: 10px;
    }
}